<!doctype html>
<html lang="en">
{% include head.html %}
{% include js.html %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto&display=swap" rel="stylesheet">  -->
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </main>
</body>
</html>
